<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Sejam bem vindes ao meu blog!</h1>
        </div>
    </div>

    <div class="row mt-4 mb-4 w-100">
        <div class="col-md-12">
            <p class="text justify text-monospace">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit quos similique, fugit tenetur iste
                placeat quisquam corporis perspiciatis ipsa ut nulla, iure, earum error velit vitae ex beatae maxime
                blanditiis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ab ex nemo quaerat voluptate, ea, ipsam
                dicta modi similique voluptas ullam amet eos assumenda. Laudantium dicta unde amet veritatis
                reprehenderit.
            </p>
        </div>
    </div>
</div>
<div class="parallax"></div>

<div class="row mt-5 mb-5 w-100">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
    </div>
</div>