<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75"
            src="https://avatars1.githubusercontent.com/u/71657570?s=400&u=2e5fc4529dd1c334a3573de41000be4d275368da&v=4"
            alt="Imagem de capa do card">
    </div>

    <div class="card-body">
        <h5 class="card-title text-center text-monospace">Bruno Sousa</h5>
        <p class="card-text text-center text-monospace">Desenvolvimento FullStack Jr</p>

        <a href="https://www.linkedin.com/in/bruno-sousa-a4094713b/"
            class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

        <a href="https://github.com/imaginaCode" class="btn btn-outline-dark d-flex justify-content-center"
            target="_blank">GitHub</a>

    </div>
</div>